
.card-container {
  //display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 3%;
  margin-top: 30%;

}

.button-container {
  margin-top: 20px;
  position: flex;
  top: 90%;
}

.center-button {
  width: 90%; /* Ancho del botón */
  max-width: 200px; /* Máximo ancho del botón */

}

.ion-padding {
  height: 100vh; /* suponiendo que quieres centrar respecto a todo el alto de la pantalla */
  width: 100%;
  display: flex; /* propiedad flexbox */
  justify-content: center; /* centra el contenido horizontalmmente */
  align-items: center; /* centra el contenido verticalmente */
}


.titulo {
  font-size: xx-large;
  color: #08474e;
}