<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input label=" Ingrese Usuario" label-placement="floating" fill="solid" placeholder="Usuario"></ion-input>
      <br>
      <ion-input label=" Ingrese Correo" type="email" label-placement="floating" fill="solid" placeholder="Correo"></ion-input>
      <br>
      <ion-input label="Ingrese Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Contraseña"></ion-input>
      <br>
      <ion-input label=" Repetir Contraseña" type="password"  label-placement="floating" fill="solid" placeholder="Repetir Contraseña"></ion-input>
      <br>
    </ion-card-content>
  
    <ion-button fill="clear">Registrarse</ion-button>
    <ion-button fill="clear">Ingresa como invitado</ion-button>
  </ion-card>
</ion-content>
