

barra{
    background-color: #08474e;
}

.titulo {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
}

.photo{
    width: 90%;
    height: 90%;
    vertical-align: text-top;
    display: flex;
    align-items: center;
    justify-content: center;
}



.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 300px;
    padding: 0;
    margin: 0px auto 0 auto;
}

