<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class=" ion-text-center">Registrate Aquí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-text-center" [fullscreen]="true">
  <ion-header class="arriba" collapse="condense">
    <ion-toolbar>
      <ion-title class=" ion-text-center" size="large">Registrate Aquí</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card class=" ion-text-center">
    <ion-card-header>
      <ion-card-title class=" ion-text-center titulo" size="large" ><h1>¡Únete a Activisual!</h1> </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input label="Ingrese Usuario" label-placement="floating" fill="solid" placeholder="Usuario"></ion-input>
      <br>
      <ion-input label="Ingrese Correo" type="email" label-placement="floating" fill="solid" placeholder="Correo"></ion-input>
      <br>
      <ion-input label="Ingrese Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Contraseña"></ion-input>
      <br>
      <ion-input label="Repetir Contraseña" type="password"  label-placement="floating" fill="solid" placeholder="Repetir Contraseña"></ion-input>
      <br>
    </ion-card-content>

    <ion-button class=" ion-justify-content-center" fill="clear">Crear Cuenta</ion-button>
    <br>
    <ion-button class=" ion-align-items-center" fill="clear">Login</ion-button>


  </ion-card>
</ion-content>
