<ion-header [translucent]="true">
  <ion-toolbar class="barra" collapse="condense" >
    <ion-title class=" ion-text-center titulo"> <h4>Registrate Aquí</h4></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-text-center" color="light" [fullscreen]="true">

  <ion-card class=" ion-text-center" >
    <ion-card-header >
      <img class="photo" src="assets/img/reg_1.png" alt="">
      <ion-card-title class=" ion-text-center titulo" size="large" ><h1>¡Únete a Activisual!</h1> </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input label="Ingrese Usuario" label-placement="floating" fill="solid" placeholder="Usuario"></ion-input>
      <br>
      <ion-input label="Ingrese Correo" type="email" label-placement="floating" fill="solid" placeholder="Correo"></ion-input>

      <br>
      <ion-input label="Ingrese Contraseña" type="password"  label-placement="floating" fill="solid" placeholder="Contraseña"></ion-input>
      <br>
      <ion-input label="Repetir Contraseña" type="password"  label-placement="floating" fill="solid" placeholder="Repetir Contraseña"></ion-input>
    </ion-card-content>

    <ion-button class=" ion-justify-content-center" >Crear Cuenta</ion-button>
    <br>
    <ion-button class=" ion-align-items-center" fill="clear" [routerLink]="['/login']">Login</ion-button>
    <div class="linea"></div>
    <h4 ><span>Registrate con:</span></h4>

    <ion-col class="ion-align-items-center" style="justify-content: space-between;" align-self-center size="3">
      &nbsp;
      <ion-button  button shape="round" color="light" class="ion-justify-content-center text-center" style="font-size: 16px; width: 90%;"> <ion-icon slot="start" name="logo-google" style="justify-content: space-between;"></ion-icon > Continuar con Google</ion-button>
      &nbsp;
      <ion-button shape="round" color="success" class="ion-justify-content-center" style="font-size: 16px; width: 90%;"> <ion-icon slot="start" name="logo-facebook"></ion-icon> Continuar con Facebook</ion-button>
      &nbsp;
      <ion-button shape="round" color="dark" class="ion-justify-content-center" style="font-size: 16px; width: 90%;"> <ion-icon slot="start" name="logo-apple"></ion-icon> Continuar con Apple</ion-button>
      &nbsp;
    </ion-col>

  </ion-card>
</ion-content>
