
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería de Fotos
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-card class="big-card">
        <ion-col size="6" >

          <ion-list *ngFor="let photo of photos">
            <ion-item>
              <img [src]="photo" alt="Foto">
            </ion-item>
          </ion-list>
          <!--
          <ion-list *ngFor="let photo of photos">
            <ion-thumbnail slot="start">
              <img [src]="photo" alt="Foto">
            </ion-thumbnail>
          </ion-list>
          -->
        </ion-col>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>