
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería de Fotos
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-card class="big-card">
        <ion-col size="6" >

          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let photo of photos">
                <img src="{{photo.uri}}" />
              </ion-col>
            </ion-row>
          </ion-grid>
  
        </ion-col>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>