
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería de Fotos
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <ion-card class="big-card">
         <ion-grid>
            <ion-row>
              <ion-col size="6" *ngFor="let photo of fotoService.photos; index as position">
                <ion-img [src]="photo.webviewPath"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>
</ion-content>