<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <h1>Nosotros</h1>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Repellat laborum blanditiis suscipit consequuntur, sunt voluptates laboriosam quasi itaque beatae dolores ut hic.
     Minus, quae officia? Debitis maxime perferendis ipsa recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Fugit earum animi expedita asperiores quaerat odio dolores recusandae placeat magnam tenetur laboriosam soluta sed totam, beatae maxime? Tempore commodi odit molestiae.
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Repellat laborum blanditiis suscipit consequuntur, sunt voluptates laboriosam quasi itaque beatae dolores ut hic.
     Minus, quae officia? Debitis maxime perferendis ipsa recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Fugit earum animi expedita asperiores quaerat odio dolores recusandae placeat magnam tenetur laboriosam soluta sed totam, beatae maxime? Tempore commodi odit molestiae.
  </p>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-title> Hola </ion-title>
  </ion-toolbar>
</ion-footer>

