
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      PhotoSight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-text-center">
    <ion-row>
      <div class="logo-container">
        <ion-img src="assets/img/valorada.png"></ion-img>
      </div>
      <div>
        <ion-button class="ion-text-center" expand="full" color="secondary" shape="round" routerLink="/nosotros">Ir a Nosotros</ion-button>
      </div>
    </ion-row>
  </ion-card>
</ion-content>
