
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      PhotoSight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center ">
  <ion-card class="card-container ion-text-center">
    <br>
    <ion-card-header>
      <div>
        <ion-card-title class="ion-text-center">Bienvenido a Photosight</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="logo-container">
        <ion-img src="assets/img/logopng.png"></ion-img>
      </div>
      <br>
      <div class="button-container">
        <ion-button class="ion-align-items-center" expand="full" color="primary" shape="round" routerLink="/nosotros">Inicio</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
