<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item button detail="false">
      <ion-label>
        <h3>Gestionar perfil</h3>
        <p>Gestiona tu perfil, actualiza tus datos, revisa datos etc.</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>
        <h3>Fotos más valoradas</h3>
        <p>Revisa las fotos que recibieron una mayor valoración durante la semana</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>
        <h3>Notificaciones</h3>
        <p>Revisa las notificaciónes que puedes tener disponibles</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>
        <h3>Regalar fotos</h3>
        <p>Puedes regalar una de tus fotos a cualquier usuario registrado</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>
        <h3>Ajustes</h3>
        <p>Configura opciones de la aplicación, permisos y más.</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>
        <h3>Acerca de</h3>
        <p>Informate sobre la aplicación y su funcionamiento </p>
      </ion-label>
    </ion-item>
    <br>
    <br>
    <br>
    <ion-item button detail="false">
      <ion-label>
        <h2>Cerrar Sesión</h2>
      </ion-label>
	</ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>
  <div class="ion-page ion-padding"  id="main-content">
    <ion-content class="ion-padding">
      <ion-card id="Imgmap">
        <img alt="Silhouette of mountains" src="https://previews.123rf.com/images/microone/microone1710/microone171000015/87287631-mapa-isom%C3%A9trico-3d-con-pines-de-ubicaci%C3%B3n-fondo-de-vector-de-navegaci%C3%B3n-gps-ruta-en-el-navegador.jpg" />
      </ion-card>
      <br>
      <ion-fab slot="fixed" vertical="center" horizontal="start">
        <ion-fab-button>
          <ion-icon name="chevron-forward-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button>
            <ion-icon name="footsteps-outline" size="large"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="rocket-outline" size="large"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="person-circle-outline" size="large"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon size="3" name="camera-outline" size="large"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-content>
  </div>
</div>











