.map {
  display: block;
  width: 100%;
  height: 100%;
}
.miubicacion {
position: fixed;
bottom: 0px;
background: #ffd740;
}

.aceptar {
  position: fixed;
  top: 50px;
  right: 5px;
  background: #80d894;
}

.search {
  position: fixed;
  top: 45px;
  left: 0px;
}

#container {
  text-align: center;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-grid {
  --ion-grid-padding: 20px;
  --ion-grid-padding-xs: 20px;
  --ion-grid-padding-sm: 20px;
  --ion-grid-padding-md: 20px;
  --ion-grid-padding-lg: 20px;
  --ion-grid-padding-xl: 20px;

  --ion-grid-column-padding: 30px;

  --ion-grid-column-padding-xs: 30px;
  --ion-grid-column-padding-sm: 30px;
  --ion-grid-column-padding-md: 30px;
  --ion-grid-column-padding-lg: 30px;
  --ion-grid-column-padding-xl: 30px;
}

ion-col {
  background-color: hsla(174, 73%, 80%, 0.29);
  border: solid 1px #fff;
  color: #070707;
  text-align: center; 
}

ion-fab {
  top: 420px;
  left: 45px;
}


.botonFab{
  right: 70%;
  position: relative;
  top: 70%;
}

.botoncito1{
  position: absolute;
  bottom: 90%;
}
.botoncito2{
  position: absolute;
  top: 43%;
  left: 8%;
}
.botoncito3{
  position: absolute;
  top: 15%;
  left: 40%;
}
.botoncito4{
  position: absolute;
  bottom: 55%;
  left: 52%;
  top:50%;
}

.cartas{
  margin: 0;
}

.paisaje{
  width: 100%;
  height: 100%;
}


gmp-nav {
  height: 500px;
}

//ultimo


.big-card {
  width: 43vh; /* Establece el ancho inicial de la tarjeta */
  max-width: 600px; /* Establece el ancho máximo para evitar que la tarjeta se vuelva demasiado ancha en pantallas grandes */
  height: 80vh; /* Establece la altura deseada para la tarjeta grande */
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.big-card:hover {
height: 90vh; /* Cambia la altura al pasar el ratón sobre la tarjeta */
/*width: 95%; /* Cambia el ancho al pasar el ratón sobre la tarjeta */
}

.botones{
  padding-left: 10px;
  padding-right: 10px;
}

/* Asegúrate de agregar estos estilos en tu archivo .scss correspondiente */

ion-footer {
  text-align: center;
}

ion-toolbar .ion-row {
  width: 100%;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(174deg 73% 80% / 0%);
}

ion-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-size: 2rem; /* Ajusta el tamaño del icono según tus preferencias */
}