<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <!-- Perfil -->
    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/img/perfil.png" />
      </ion-avatar>
      <ion-label>
        <h3>Gestionar perfil</h3>
        <p>Gestiona tu perfil, actualiza tus datos, revisa datos etc.</p>
      </ion-label>
    </ion-item>


    <!-- Fotos Valoradas -->
    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/img/valorada.png" />
      </ion-avatar>
      <ion-label>
        <h3>Fotos más valoradas</h3>
        <p>Revisa las fotos que recibieron una mayor valoración durante la semana</p>
      </ion-label>
    </ion-item>


    <!-- Notificación -->

    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/img/noti.png" />
      </ion-avatar>
      <ion-label>
        <h3>Notificaciones</h3>
        <p>Revisa las notificaciónes que puedes tener disponibles</p>
      </ion-label>
    </ion-item>

    <!-- Regalar fotos -->

    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/img/gift.png" />
      </ion-avatar>
      <ion-label>
        <h3>Regalar fotos</h3>
        <p>Puedes regalar una de tus fotos a cualquier usuario registrado</p>
      </ion-label>
    </ion-item>

    <!-- Ajustes -->

    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/img/photos.png" />
      </ion-avatar>
      <ion-label>
        <h3>Ajustes</h3>
        <p>Configura opciones de la aplicación, permisos y más.</p>
      </ion-label>
    </ion-item>

    <!-- Ajustes -->

    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/img/fotito.png" />
      </ion-avatar>
      <ion-label>
        <h3>Acerca de</h3>
        <p>Informate sobre la aplicación y su funcionamiento </p>
      </ion-label>
    </ion-item>
    <br>
    <br>
    <br>
    <!-- Cerrar Sesion -->

    <ion-item button detail="false" (click)="salir()">
      <ion-label>
        <h2>Cerrar Sesión</h2>
      </ion-label>
    </ion-item>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-buttons>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-buttons>
      </ion-buttons>
      <ion-title>Bienvenido a PhotoSight</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content>
      <ion-card id="Imgmap">

        <ion-button class="botoncito1" fill="clear" type="icon" id="top-center1" shape="round" size="small">
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
        <ion-popover trigger="top-center1" side="top" alignment="center">
          <ng-template>
            <ion-card class="cartas">
              <img class="paisaje" alt="Placeres" src="assets/img/placeres.jpg" />
              <ion-card-header class="ion-text-center">
                <ion-card-title>Usuario_01</ion-card-title>
                <ion-card-subtitle>Playa los Placeres</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <div class="ion-justify-content-center ion-text-center">
                    <ion-button fill="clear" shape="round" >
                      <ion-icon name="heart"></ion-icon>
                    </ion-button>

                    <ion-button fill="clear" shape="round" >
                      <ion-icon name="person-add"></ion-icon>
                    </ion-button>
                </div>


                <div>
                  <ion-button class="ion-justify-content-center" expand="block" fill="clear" id="top-center" shape="round" size="small">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-popover>

        <ion-button class="botoncito2" fill="clear" type="icon" id="top-center2" shape="round" size="small">
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
        <ion-popover trigger="top-center2" side="top" alignment="center">
          <ng-template>
            <ion-card class="cartas">
              <img class="paisaje" alt="Polanco" src="assets/img/polanco.jpg" />
              <ion-card-header>
                <ion-card-title>Usuario_02</ion-card-title>
                <ion-card-subtitle>Cerro Polanco</ion-card-subtitle>
              </ion-card-header>

                <ion-card-content>
                  <div class="ion-justify-content-center ion-text-center">
                      <ion-button fill="clear" shape="round" >
                        <ion-icon name="heart"></ion-icon>
                      </ion-button>

                      <ion-button fill="clear" shape="round" >
                        <ion-icon name="person-add"></ion-icon>
                      </ion-button>
                  </div>


                  <div>
                    <ion-button class="ion-justify-content-center" expand="block" fill="clear" id="top-center" shape="round" size="small">
                      <ion-icon name="chevron-down-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-popover>


        <ion-button class="botoncito3" fill="clear" type="icon" id="top-center3" shape="round" size="small">
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
        <ion-popover trigger="top-center3" side="top" alignment="center">
          <ng-template>
            <ion-card class="cartas">
              <img class="paisaje" alt="Conquista" src="assets/img/conquista.jpg" />
              <ion-card-header>
                <ion-card-title>Usuario_03</ion-card-title>
                <ion-card-subtitle>Plaza la conquista</ion-card-subtitle>
              </ion-card-header>

                <ion-card-content>
                  <div class="ion-justify-content-center ion-text-center">
                      <ion-button fill="clear" shape="round" >
                        <ion-icon name="heart"></ion-icon>
                      </ion-button>

                      <ion-button fill="clear" shape="round" >
                        <ion-icon name="person-add"></ion-icon>
                      </ion-button>
                  </div>


                  <div>
                    <ion-button class="ion-justify-content-center" expand="block" fill="clear" id="top-center" shape="round" size="small">
                      <ion-icon name="chevron-down-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-popover>

        <ion-button class="botoncito4" fill="clear" type="icon" id="top-center4" shape="round" size="small">
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
        <ion-popover trigger="top-center4" side="top" alignment="center">
          <ng-template>
            <ion-card class="cartas">
              <img class="paisaje" alt="Quintil" src="assets/img/quintil.jpg" />
              <ion-card-header>
                <ion-card-title>Usuario_04</ion-card-title>
                <ion-card-subtitle>Parque Quintil</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <div class="ion-justify-content-center ion-text-center">
                    <ion-button  fill="clear" shape="round" >
                      <ion-icon name="heart"></ion-icon>
                    </ion-button>

                    <ion-button fill="clear" shape="round" >
                      <ion-icon name="person-add"></ion-icon>
                    </ion-button>
                </div>


                <div>
                  <ion-button class="ion-justify-content-center" expand="block" fill="clear" id="top-center" shape="round" size="small">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-popover>

        <img type="image/png" style="width: 100%;" src="assets/img/mapafoto.png" alt="">

      </ion-card>
      <br>

      <!--
      <div>
        <ion-fab slot="fixed" vertical="bottom" horizontal="start">
          <ion-fab-button class="botonFab" >
            <ion-icon name="chevron-forward-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end" style="top:70%;">
            <ion-fab-button>
              <ion-icon name="footsteps-outline" size="large"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="rocket-outline" size="large"></ion-icon>
            </ion-fab-button>
             Galeria
            <ion-fab-button>
              <ion-icon name="person-circle-outline" size="large" [routerLink]="['/galeriafotos']"></ion-icon>
            </ion-fab-button>
            Tomar Fotos
            <ion-fab-button>
              <ion-icon name="camera-outline" size="large" (click)="tomarFoto()"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
    -->

    </ion-content>
      
    <div>
      <ion-fab slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button class="botonFab" >
          <ion-icon name="chevron-forward-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end" style="top:70%;">
          <ion-fab-button>
            <ion-icon name="footsteps-outline" size="large"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="rocket-outline" size="large" (click) = "addDirection()"></ion-icon>
          </ion-fab-button>
           <!--Galeria-->
          <ion-fab-button>
            <ion-icon name="person-circle-outline" size="large" [routerLink]="['/galeriafotos']"></ion-icon>
          </ion-fab-button>
          <!--Tomar Fotos-->
          <ion-fab-button>
            <ion-icon name="camera-outline" size="large" (click)="tomarFoto()"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
</div>












